# Build output
dist/

# Generated types
.astro/

# NPM Dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.production

# macOS-specific files
.DS_Store
Thumbs.db