@import "tailwindcss";
@plugin "daisyui" { themes: light --default, dark --prefersdark; }

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	--color-primary: #004DB8;
	--color-secondary: #B86B00;
	--color-accent: #68B531;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: false;
	prefersdark: true;
	--color-primary: #3168B5;
	--color-secondary: #B57E31;
	--color-accent: #68B531;
}

@layer utilities {
	.hover-animate {
		@apply shadow-none transition-transform duration-500 ease-in-out hover:scale-105;
	}
}

@media print {
    #scrollTop #scrollBottom #scrollControls { display: none !important; }
}

.root {
	color-scheme: light dark;
	--tech-embedded: "#D48D17";
	--tech-systems: "#3168B5";
	--tech-web: "#524391";
	--tech-databases: "#509636";
	--tech-administration: "#BA5656";
	--tech-tools: "#5E5E5E";
}

.tech .badge, .tech .tooltip-content {
	background-color: var(--tech-color);
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100dvh;
	overflow-x: hidden;
	box-sizing: border-box;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}